<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-center">
    <a class="navbar-brand" href="/">
        <img src="" width="30" height="30" class="d-inline-block align-top" alt=" Logo Native Games">
        Native Games
    </a>

    <ul class="navbar-nav m-auto">
        <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/jogos">Jogos</a></li>
        <li class="nav-item"><a class="nav-link" href="/sobre">Sobre</a></li>
        <li class="nav-item"><a class="nav-link" href="/contato">Contato</a></li>
    </ul>
    
    <!-- Inserir botão de usuário com menu dropdown aqui -->
</nav>