<nav class="navbar navbar-expand-lg custom-navbar text-center">
    <a class="navbar-brand" href="/">
        <img src="/img/user-default-50.png" heigth="50" class="d-inline-block align-top" alt="Native Games">
    </a>

    <ul class="navbar-nav m-auto">
        <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/jogos">Jogos</a></li>
        <li class="nav-item"><a class="nav-link" href="/sobre">Sobre</a></li>
        <li class="nav-item"><a class="nav-link" href="/contato">Contato</a></li>
    </ul>
    
    <a class="btn btn-outline-primary btn-sm" href="/login" role="button">Entrar</a>
    <!-- Quando usuário estiver logado, inserir menu dropdown aqui para acessar perfil, sair-->
</nav>

<!-- Navbar para usuários logados
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-center">
    <a class="navbar-brand" href="/">
        <img src="/img/" width="30" height="30" class="d-inline-block align-top" alt="">
        Native Games
    </a>
    <ul class="navbar-nav m-auto">
        <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/jogos">Jogos</a></li>
        <li class="nav-item"><a class="nav-link" href="/sobre">Sobre</a></li>
    </ul>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            Usuário
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/perfil">Perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/sair">Sair</a></li>
        </ul>
    </div> -->