<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {{>head}}
    {{>styles}}
</head>
<body >
    {{>navbar}}
    <main style="margin:20px"> 
    {{{body}}}
    </main>
    {{>footer}}
    {{>scripts}}
</body> 
</html>