<body>
   <h1>Adugo - Jogo da onça</h1>
   <p>Bem-vindo ao Adugo, um jogo de estratégia onde você deve capturar a onça antes que ela capture você!</p>

   <!-- Inserir aqui as imagens referentes ao jogo -->
   <img src="/images/adugo.jpg" alt="Adugo - Jogo da onça" class="img-fluid">

   <h2>Como Jogar</h2>

   <h3>Regras do Jogo</h3>
   <ul>
      <li>O jogo é jogado em um tabuleiro 5x5.</li>
      <li>Você controla a onça e deve capturar os jogadores.</li>
      <li>Os jogadores devem evitar ser capturados e tentar capturar a onça.</li>
      <li>O jogo termina quando todos os jogadores são capturados ou a onça é capturada.</li>
      <li>Use a estratégia para se mover e capturar seus oponentes.</li>
      <li>Divirta-se e boa sorte!</li>
   </ul>
   <h3>Instruções</h3>
   <p>Para jogar, clique no botão abaixo para iniciar o jogo.</p>
   <form action="/adugo/jogar" method="GET">
      <button type="submit" class="btn btn-primary">Iniciar Jogo</button>
   </form>
   <h2>Sobre o Jogo</h2>
   <p>Adugo é um jogo tradicional brasileiro que envolve estratégia e habilidade. O objetivo é capturar a onça antes que
      ela capture todos os jogadores.</p>

</body>