<h1>Adugo - Jogo da onça</h1>

<div class="d-flex align-items-center">
  <div class="flex-shrink-0" style="">
    <img src="/static/images/adugo.png" class="object-fit-scale border rounded" alt="..." width="450">
  </div>
  <div class="flex-grow-1 ms-3" style="">
   É um jogo de tabuleiro indígena brasileiro onde um jogador controla uma onça e o outro 14 cachorros. O objetivo da onça é capturar 5 cachorros, enquanto os cachorros devem cercar e imobilizar a onça. O jogo é jogado em um tabuleiro de 7x7 casas, com peças que representam a onça e os cachorros.
  </div>
</div>