    <ul class="navbar-nav m-auto">
        <img src="/static/images/perfil-default.png" class="rounded-circle border-5" alt="Imagem de perfil" width="75" height="75">

        <li class="nav-item"><a class="nav-link" href="/hub/favoritos">Favoritos</a></li>
        <li class="nav-item"><a class="nav-link" href="/hub/amigos">Meus amigos</a></li>
        <li class="nav-item"><a class="nav-link" href="/hub/conquistas">Conquistas</a></li>
        <li class="nav-item"><a class="nav-link" href="/conta">Email e conta</a></li>
    </ul>