    <section class="jumbotron text-center">
        <h1 class="display-4">Bem-vindo(a) à Native Games!</h1>
        <p class="lead">Descubra jogos tradicionais de diferentes culturas!</p>
    </section>

    {{>globe}}
    
    <p>Inserir o conteúdo principal aqui</p>

    {{>scripts}}
