<head>
    {{>head}}
    <title>Sobre</title>
</head>
<body>
    <h1>Sobre a Native Games</h1>
    <p>A Native Games é uma plataforma dedicada a promover jogos tradicionais de diversas culturas ao redor do mundo. Nosso objetivo é preservar e compartilhar a riqueza cultural dos jogos nativos, proporcionando uma experiência única e educativa para todos os jogadores.</p>
    
    <h2>Nossa Missão</h2>
    <p>Conectar pessoas através de jogos, celebrando a diversidade cultural e promovendo o aprendizado mútuo.</p>
    
    <h2>Equipe</h2>
    <p>Desenvolvido por Murilo Ferreira Santos e Sara Vanessa Santos Paiva.</p>
    
    <h2>Contato</h2>
    <p>Para mais informações, entre em contato conosco pelo e-mail: <a href="mailto: murferdev@gmail.com">contato@nativegames.com.br</a>
</body>